# Ignore node_modules directory
node_modules/

# Ignore build artifacts and compiled code
build/
dist/
out/
*.log

# Ignore editor/IDE-specific files and directories
.vscode/
.idea/

# Ignore operating system and editor temporary files
.DS_Store
Thumbs.db
